{% extends "karzok/templates/base.html" %}

{% block styles %}
{{ macros::styles(file='section.css') }}
{% endblock styles %}

{% block content %}
<section class="menu">
{% if section.subsections %}
{% for s in section.subsections %}
{% set subsection = get_section(path=s) %}
<a class="menu__link" href="{{ subsection.permalink }}">
    <span class="menu__link-title">{{ subsection.title }}</span>
    </a>
{% endfor %}
{% endif%}
</section>
{% endblock content %}
